# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# jrebel #
src/main/resources/rebel.xml
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
pom.xml
src/main/resources/
